body {
    background-color: #d2b48c;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px dotted gray;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;
    color: red;
    border-bottom: 1px solid red;
}

#blue {
    color: blue;
}

.green {
    color: green;
}

p.green {

}

.green2 {
    color: darkgreen;
}