body {
    background-color: #d2b48c;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px dotted gray;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;
    color: red;
}

#blue {
    color: blue;
}